<!DOCTYPE html>
<html>
<head>
  <title>Markdown Previewer</title>
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
  <div>
    <label for="title">Title</label>
    <textarea id="title"></textarea>
  </div>
  <div>
    <label for="input">Content</label>
    <textarea id="input"></textarea>
  </div>
  <div>
    <input type="file" id="fileUpload" name="fileUpload">
    <button onclick="uploadFile()">Upload File</button>
  </div>
  <div>
    <label for="preview">Preview</label>
    <div id="preview"></div>
  </div>
  <div>
    <button onclick="send()">Send</button>
  </div>

  <script>
    // Create a new instance of markdown-it
    const md = window.markdownit({
      html: true,
      breaks: true,
      linkify: true,
      typographer: true,
      quotes: '“”‘’',
    });

    // Get references to the input and preview elements
    const title = document.getElementById('title');
    const input = document.getElementById('input');
    const fileUpload = document.getElementById('fileUpload');
    const preview = document.getElementById('preview');
    const images = [];

    // Function to update the preview
    function updatePreview() {
      // Get the Markdown text from the input element
      let markdown = input.value;

      // Convert the Markdown to HTML using the markdown-it instance
      let html = md.render(markdown);

      // Update the preview element with the generated HTML
      preview.innerHTML = html;

      // Render math using MathJax
      MathJax.typeset();
    }

    // Add an event listener to the input element to update the preview
    input.addEventListener('input', updatePreview);

    async function uploadFile() {
      const fileInput = document.getElementById('fileUpload');
      const file = fileInput.files[0];

      const formData = new FormData();
      formData.append('file', file);

      try {
          const response = await fetch(`/uploadImg`, {
              method: 'POST',
              body: formData
          });

          if (!response.ok) {
              throw new Error(`HTTP error! status: ${response.status}`);
          } else {
              const data = await response.json();
              console.log(data.message);  // The filename returned from server
              input.value += `![${data.message}](https://pombucket.s3.ap-northeast-1.amazonaws.com/${data.message})`;
              images.push(data.message);
              // Update the preview after changing the input value
              updatePreview();
          }
      } catch (error) {
          console.error('Error:', error);
      }
    }

    async function send() {
      const formData = new FormData();
      formData.append('content', input.value);
      formData.append("title", title.value);
      formData.append("images", images);

      try {
          const response = await fetch(`/createPost`, {
              method: 'POST',
              body: formData
          });

          if (!response.ok) {
              throw new Error(`HTTP error! status: ${response.status}`);
          } else {
              const data = await response.json();
              console.log(data.message);  // The filename returned from server
          }
      } catch (error) {
          console.error('Error:', error);
      }
    }
  </script>
</body>
</html>

