{% extends "user/base.html" %}

{% block title %}home{% endblock %}

{% block content %}
  <h1>All Posts</h1>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Date Posted</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
        <tr>
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.author.username }}</td>
          <td>{{ post.timestamp.isoformat() }}</td>
          <td>
            <a href="{{ url_for('post.view_post', post_id=post.id) }}" class="btn btn-primary">View</a>
          </td>
        </tr>
        { % if post.images % }
          <tr>
            <td></td>
            <td colspan="4">
              <div class="row">
                {% for image in post.images %}
                  <div class="col-4">
                    <img src="https://pombucket.s3.ap-northeast-1.amazonaws.com/{{ image.link }}" class="img-fluid" alt="{{ image.uploader_id }}">
                  </div>
                {% endfor %}
              </div>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  {% if posts.has_prev %}
    <a href="{{ url_for('post.get_home', page=posts.prev_num) }}">Previous</a>
  {% endif %}
  {% if posts.has_next %}
    <a href="{{ url_for('post.get_home', page=posts.next_num) }}">Next</a>
  {% endif %}
{% endblock %}
