{% extends "user/base.html" %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block content %}
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text" id="content">{{ post.content|safe }}</p>
      <p class="card-text"><small class="text-muted">Posted by {{ post.author.username }} on {{ post.timestamp.strftime('%B %d, %Y') }}</small></p>
    </div>
  </div>

  <script>
    // Create a new instance of markdown-it
    const md = window.markdownit({
      html: true,
      breaks: true,
      linkify: true,
      typographer: true,
      quotes: '“”‘’',
    });

    const content = document.getElementById('content');

    // Function to update the preview
    function updatePreview() {
      // Get the Markdown text from the input element
      let markdown = content.value;

      // Convert the Markdown to HTML using the markdown-it instance
      let html = md.render(markdown);

      // Update the preview element with the generated HTML
      preview.innerHTML = html;

      // Render math using MathJax
      MathJax.typeset();
    }
  </script>

  {% set displayed_comments = {} %}
  {% for comment in top_level_comments %}
    {% with comment=comment %}
      {% include "user/comment.html" %}
    {% endwith %}
    {% set _ = displayed_comments.update({comment.id: True}) %}
  {% endfor %}


{% endblock %}
